/*-- scss:defaults --*/
@import "_variables.scss";

$body-bg: #212529;
$body-color: #dee2e6;
$link-color: #fff;
$secondary: #343a40;

/*-- scss:rules --*/
@import "_bootswatch.scss";

body {
	background-color: $body-bg;
	color: $body-color;
}

a,
a:hover {
	color: $link-color;
}